.ant-menu-item {
  background-color: transparent;
  color: #0EB182;
}

.ant-menu-item:has(.active) {
  background-color: #0EB182 !important;
  color: #fff;
}

.ant-menu-item {
  background-color: transparent;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 10px 14px !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #0EB182 !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #fff !important;
  background-color: #0EB182 !important;
  border-radius: 5px;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-1x0dypw).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: rgba(98, 102, 106, 0.39) !important;
}

.ant-upload-wrapper .ant-upload-select {
  width: 100% !important;
}